<section id="two">
  <h2>Suggested properties</h2>
  <div class="row">
    <article ng-repeat="propObj in prop.items" class="6u 12u$(xsmall) work-item">
      <a
          ui-sref="properties.detail({'propId': propObj.advertismentId})"
          class="image fit thumb">
		  <div class="affordability-value-img affordable">
			  <span>Affordability = </span>
			  <span ng-bind="calculateAffordability(propObj)"></span>
		  </div>
        <!--<span class="affordability-value-img affordable" ng-class="">33%</span>-->
        <img ng-src="{[ propObj.pictures[0] ]}" alt=""/>
      </a>

      <h3>{[ propObj.title ]}</h3>
      <p>{[ propObj.zip ]} {[ propObj.city ]}, {[ propObj.countryLabel ]}</p>
    </article>
  </div>
  <div ui-view></div>
</section>
